<form id="procent-activities-config" autocomplete="off">
    <div class="form-group">
        <label>{{localize "PA.HPBase"}}</label>
        <select name="hpBase">
            <option value="current" {{#if (eq hpBase "current")}}selected{{/if}}>{{localize "PA.CurrentHP"}}</option>
            <option value="max" {{#if (eq hpBase "max")}}selected{{/if}}>{{localize "PA.MaxHP"}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PA.ActionType"}}</label>
        <select name="actionType">
            <option value="damage" {{#if (eq actionType "damage")}}selected{{/if}}>{{localize "PA.Damage"}}</option>
            <option value="healing" {{#if (eq actionType "healing")}}selected{{/if}}>{{localize "PA.Healing"}}</option>
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PA.Percentage"}}</label>
        <input type="number" name="percentage" value="{{percentage}}" min="0">
    </div>
    <div class="form-group stacked">
        <label>{{localize "PA.AllowOverlimit"}}</label>
        <input type="checkbox" name="allowOverlimit" {{#if allowOverlimit}}checked{{/if}}>
    </div>
    <footer class="sheet-footer">
        <button type="submit" class="save-button"><i class="fas fa-save"></i> {{localize "Save"}}</button>
    </footer>
</form>